*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
.mm li{
    list-style: none;
    margin-right: 10px;
    margin-left:50px;
    display: inline;
    background-color: yellowgreen;
    cursor: pointer;
}
/* main{
    height: 100vh;
} */
.main {
    margin-top:70px;
    margin-left:15%;
    width:70%;
    height: calc(60vh + 7px);
    
}
.main div{
    
    width: 33%;
    height: 20vh;
    
    display: inline-block;
}
.mobile{
    background-color: coral;
}
.phone{
    background-color: crimson;
}
.myul{
    width: 100%;
    height: 10vh;
    background-color: rgba(47, 79, 79, 0.671);
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    position: fixed;   
    top:0;
    left:0;
    line-height: 10vh;
    text-align: center;
    
}



.hi{
    
    height:100vh;
    width:100%;
    background-color:#EEE;
  
    margin-bottom: 5px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color:blue;
    position: absolute;
    bottom:50px;
    right:50px
}
.circle i{
    font-size: 30px;
    color:#fff
}


a {	color: #ffffff;	}

#info {
    position: absolute;
    top: 0px; width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    z-index:1000;
    user-select: none;
    stroke: #fff;
    
}

#webglmessage {
    background:rgb(200,100,0) !important;
    color:#fff;
}

#vt { display:none }
#vt, #vt a { color:orange; }
.weather{
    width:400px;
    min-height:40vh;
    user-select: none;
    padding:10px;
    position:absolute;
    right:0px;
    top:10vh
   
}
.weather div{
    display: flex;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    height: 40px;
    justify-content: space-around;
    color: #fff
}
#info h1 i{
    color: #f0f0f0;
    
}

.row{
    width:800px;
    height:100px;
    position:fixed;
    bottom: 320px;
    left: 10px;
  

}

/* #select{
    
   
    
} */

#selectselect{
    background-color: transparent;
    outline: none;
    border:none;
    color: #fff;
    width: 400px;
    text-align: center;
    border-bottom:1px solid #333;
    font-size:16px;
}


/* .first{
    width: 50vw;
    height: 50vh;
    position:absolute;
    top:0;
    right: 0 
} */

#rowcanvas{
    width: 50vw;
    height: 50vh;
    position:absolute;
    top:45vh;
    left:10px
}

#chartContainer{
    width: 90%;
    height: 80vh;
    margin:auto;
    padding-top:10vh
}